@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f5f5; /* Blanco suave */
    --foreground: #1a1a1a; /* Negro elegante */
    --primary: #0a1128; /* Azul marino oscuro */
    --primary-light: #001f54; /* Azul marino claro */
    --secondary: #6c757d; /* Gris medio */
    --accent: #007bff; /* Azul profesional para destacar */
    --danger: #d9534f; /* Rojo oscuro para alertas */
    --border-color: #ced4da; /* Gris claro para bordes */

    --navbar-color: #eaeaea;
  }


  @media (prefers-color-scheme: dark) {
    :root {
      --background: #121212; /* Negro profundo */
      --foreground: #eaeaea; /* Blanco suave para contraste */
      --primary: #001f54; /* Azul marino oscuro */
      --primary-light: #0a305c; /* Azul ligeramente más claro */
      --secondary: #495057; /* Gris oscuro */
      --accent: #339af0; /* Azul claro profesional */
      --danger: #c82333; /* Rojo apagado para alertas */
      --border-color: #343a40; /* Gris oscuro para bordes */
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-xl font-medium;
  }
}

@layer components {

  .modal-container {
    @apply p-6 rounded-lg shadow-lg;
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .modal-title {
    @apply text-xl mb-2 font-bold;
  }

  .modal-input {
    @apply w-full border rounded-md;
    border-color: var(--border-color);
    background-color: var(--background);
    color: var(--foreground);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .modal-input:hover {
    border-color: var(--primary-light);
  }

  .modal-input:focus {
    @apply outline-none ring-2;
    --tw-ring-color: var(--primary);
  }

  .modal-error {
    @apply text-sm;
    color: var(--danger);
  }

  .modal-button {
    @apply px-4 py-2 w-full font-medium rounded-md shadow-md;
    background-color: var(--primary);
    color: var(--foreground);
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  }

  .modal-button:hover {
    background-color: var(--primary-light);
    transform: translateY(-2px);
  }

  .modal-button:focus {
    @apply outline-none ring-2;
    --tw-ring-color: var(--accent);
  }

  .modal-button:disabled {
    @apply cursor-not-allowed opacity-50;
    background-color: var(--secondary);
    color: var(--background);
  }

  .profile-section {
    @apply p-6 mb-4 rounded-lg shadow-md flex flex-col gap-4;
    /* background-color: var(--background); */
  }
  
  .profile-section-title {
    @apply text-xl font-bold;
  }
  
  .profile-section-content {
    @apply text-sm flex justify-between items-center;
  }
  
  .profile-section-content p {
    @apply mb-2; /* Espaciado entre líneas de texto */
  }
  
  .profile-section-content .btn {
    @apply ml-auto; /* Empuja el botón hacia la derecha */
  }
  

  .btn {
    @apply px-4 py-2 font-medium rounded-md shadow-md;
    background-color: var(--primary);
    color:#eaeaea;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease-in-out;
  }

  .btn:hover {
    background-color: var(--primary-light);
    transform: translateY(-2px);
  }

  .btn:focus {
    @apply outline-none ring-2;
    --tw-ring-color: var(--accent);
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-50;
    background-color: var(--secondary);
    color: var(--background);
  }

  .card {
    @apply p-6 rounded-lg shadow-lg;
    background-color: var(--background);
    color: var(--foreground);
  }

  .card:hover {
    @apply shadow-2xl;
  }

  .profile-header {
    @apply flex items-center gap-4 p-6 rounded-md shadow-md;
  }

  .profile-header-avatar {
    @apply w-16 h-16 rounded-full border-2;
  }

  .profile-header-info h1 {
    @apply text-xl font-bold;
  }

  .profile-header-info h2 {
    @apply text-sm text-secondary;
  }

  .form-container {
    @apply flex flex-col gap-4 w-full max-w-sm mx-auto;
  }
  
  .form-group {
    @apply flex flex-col gap-2;
  }
  
  .preview-container {
    @apply flex justify-center items-center mt-4;
  }
  
  .preview-image {
    @apply w-32 h-32 rounded-full object-cover border border-gray-300;
  }
  
  .form-actions {
    @apply flex  mt-4;
  }
}

@layer utilities {
  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .bg-primary-light {
    background-color: var(--primary-light);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .ring-primary {
    --tw-ring-color: var(--primary);
  }

  .ring-accent {
    --tw-ring-color: var(--accent);
  }

  .input {
    @apply w-full px-4 py-2 border rounded-md;
    border-color: var(--border-color);
    color: var(--foreground);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

  .input:hover {
    border-color: var(--primary-light);
  }

  .input:focus {
    @apply outline-none ring-2;
    --tw-ring-color: var(--primary);
  }

  .input:disabled {
    @apply bg-gray-100 text-gray-500 cursor-not-allowed;
    border-color: var(--border-color);
  }

  a {
    @apply transition-colors duration-200;
    color: var(--navbar-color);
  }

  a:hover {
    color: var(--accent);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .shadow-primary {
    --tw-shadow-color: var(--primary);
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  }
  .navbar-title{
    @apply text-2xl font-bold;
    color: var(--navbar-color);
  }

  .navbar-text{
    @apply text-lg  mr-4;
    color: var(--navbar-color);
  }

}
