@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .ring-primary {
    --tw-ring-color: var(--primary);
  }

  .text-primary {
    color: var(--primary);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e3a8a; /* Azul Marino */
  --primary-light: #3b82f6; /* Azul más claro */
  --secondary: #374151; /* Gris oscuro */
  --accent: #10b981; /* Verde para destacar */
  --danger: #ef4444; /* Rojo para errores */
  --border-color: #e5e7eb; /* Gris claro para bordes */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --primary: #1d4ed8; /* Azul Marino en oscuro */
    --primary-light: #2563eb; /* Azul más claro en oscuro */
    --secondary: #6b7280; /* Gris medio en oscuro */
    --accent: #22c55e; /* Verde brillante */
    --danger: #f87171; /* Rojo brillante */
    --border-color: #374151; /* Gris oscuro para bordes */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilos generales para contenedores */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Botones */
.btn {
  @apply px-4 py-2 font-medium rounded-md;
  background-color: var(--primary);
  color: var(--foreground);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--primary-light);
}

/* Formularios */
.input {
  @apply w-full px-4 py-2 border rounded-md;
  border-color: var(--border-color);
  background-color: var(--background);
  color: var(--foreground);
}

.input:focus {
  @apply outline-none ring-2 ring-primary;
}

/* Sombras para cajas */
.card {
  @apply p-6 rounded-lg shadow-lg;
  background-color: var(--background);
  color: var(--foreground);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  @apply shadow-2xl;
  transform: translateY(-4px);
}

/* Títulos */
.title {
  @apply text-3xl font-bold;
  color: var(--primary);
}

.subtitle {
  @apply text-xl font-medium;
  color: var(--secondary);
}

/* Listas */
.list-item {
  @apply px-4 py-2 rounded-md;
  background-color: var(--primary-light);
  color: var(--background);
}

.list-item:hover {
  background-color: var(--primary);
}

/* Enlaces */
a {
  @apply underline text-primary;
}

a:hover {
  color: var(--primary-light);
}
